body {
  background: #FFBB8A;
  font-family: 'Pridi', serif;
  font-weight: 400;
  line-height: 1.75;
  color: #FFF4EC;
}

nav {
margin-left: 10px;
margin-top: 10px;
}

.button-1{
border: none;
display: flex;
margin: auto;
border-radius: 50px;
box-shadow: 0 0 8px
rgb(207, 207, 207);
font-family: Monospace;
color: #593215;
}

.button-1:hover {
border: none;
padding: 15px;
border-radius: 15px;
box-shadow: inset 0 0 8px
color: #593215;
font-family: Monospace;
#FFF4EC;
}

.button-2{
    border: none;
    display: flex;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 8px
    rgb(207, 207, 207);
    color: #593215;
    font-family: Monospace;
    }

.button-2:hover {
    border: none;
    padding: 15px;
    border-radius: 15px;
    box-shadow: inset 0 0 8px
    color: #593215;
    font-family: Monospace;
    #FFF4EC;
    }
    
.button-3{
border: none;
display: flex;
margin: auto;
border-radius: 15px;
box-shadow: 0 0 8px
color: #593215;
rgb(207, 207, 207);
font-family: Monospace;
}

.button-3:hover {
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: #593215;
    box-shadow: inset 0 0 8px
    font-family: Monospace;
    #FFF4EC;
    }

.button-4{
border: none;
display: flex;
margin: auto;
border-radius: 15px;
color:#593215;
box-shadow: 0 0 8px
rgb(207, 207, 207);
font-family: Monospace;
}

.button-4:hover {
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: #593215;
    box-shadow: inset 0 0 8px
    font-family: Monospace;
    #FFF4EC;
    }

.button-5{
border: none;
display: flex;
margin: auto;
border-radius: 15px;
color: #593215;
box-shadow: 0 0 8px
rgb(207, 207, 207);
font-family: Monospace;

}

.button-5:hover {
    border: none;
    padding: 15px;
    color: #593215;
    border-radius: 15px;
    box-shadow: inset 0 0 8px 
    font-family: Monospace;
    #FFF4EC;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    ul {
        text-align: center;
    }

    li {
        list-style-type: none;
    }